*{
    margin: 0;
    padding: 0;
    font-family: gilroy;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: #e0dddd;
}

.container{
    padding: 10vw 28vw;
}


input{
    width: 100%;
    padding: 12px 22px;
    border-radius: 20px;
    border: 2px solid #e0dddd;
    font-size: 28px;
    font-weight: 400;
    outline-color: royalblue;
}

.people{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.person{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img{
    margin-top: 9px;
    border-radius: 50%;
    border: 2px soldi #dadada;
    width: 5vw;
    height: 5vw;
    background-color: red;
}

.img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}